aiohttp
aiosignal
alembic
annotated-types
anyio
asgiref
attrs
Authlib
Babel
backoff
bcrypt
beautifulsoup4
blinker
build
cachelib
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
click
coloredlogs
contourpy
cryptography
cycler
dataclasses-json
deepdiff
Deprecated
dnspython
docstring_parser
email_validator
emoji
faiss-cpu
fastapi
fastapi-cli
filelock
filetype
Flask
flask-babel
Flask-Cors
Flask-Ext
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-cloud-translate
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
grpcio-tools
h11
h2
hpack
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iopath
itsdangerous
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-google-vertexai
langchain-text-splitters
langdetect
langsmith
layoutparser
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mmh3
monotonic
mpmath
msgspec
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
oauth2client
oauthlib
onnx
onnxruntime
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
ordered-set
orjson
overrides
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
pillow
pillow_heif
portalocker
posthog
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pyclipper
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
PyMuPDF
PyMuPDFb
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-iso639
python-magic
python-multipart
pytz
PyYAML
rapidfuzz
rapidocr-onnxruntime
regex
requests
requests-oauthlib
requests-toolbelt
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shapely
shellingham
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
threadpoolctl
tiktoken
timm
tokenizers
torch
torchvision
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
watchfiles
websocket-client
websockets
Werkzeug
wrapt
WTForms
yarl
zipp
